.App {
  text-align: center;
}

.HomePageText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Brewery Search Results Styles */
.brewery-results-header {
  padding: 5%;
}

.header-col-left {
  padding-right: 3%;
}

.header-col-right {
  padding-left: 3%;
}

.brewery-data-cell {
  margin-top: 6%;
}

.button {
  margin: 2%;
}

/* Search Bar Styles */
.form-label {
  font-size: 2rem;
}

.search-form {
  padding-top: 5%;
}

.state-dropdown {
  margin-top: 1%;
}

/* Brewery Map Styles */
.brewery-map-container {
  width: 1000px;
  padding: 0px;
}
.search-map {
  width: 100%;
  height: 800px;
}
