@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cabin&family=Nunito:wght@400;800&family=Saira+Condensed:wght@100&display=swap');

body {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: antiquewhite;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  /* color: white; */
}

.App {
  text-align: center;
}

.btn {
  font-size: 2rem;
}

.container {
  margin-left: auto;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding: 0 5rem 5rem;
  margin-top: 2%;
}

/* Navbar */
.navbar-brand {
  font-size: 3rem;
  font-weight: bolder;
  padding-left: 1%;
}

.hopper {
  width: 260px;
  height: auto;
  margin: -50px;
  margin-bottom: -70px;
  margin-left: -70px;
  margin-right: -80px;
}

.navbar {

  box-shadow: 0px 5px 10px #888888
}

/* Home Page */
.HomePageText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.background-image {
  max-width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.icon-img {
  width: 480px;
  height: auto;
  margin: 3rem 0 2rem;
}

.welcome-div {
  position: absolute;
  left: 50%;
  top: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-left: -210px;
}

.page-button {
  font-family: 'Nunito', sans-serif;
}

.modal-content {
  width: auto;
  max-width: 1400px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: antiquewhite;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.brewery-list-text {

  color: black;
  text-decoration: underline;
  font-weight: bolder;
}

#brewery-list-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

/* Brewery Search Results Styles */
.brewery-results-header {
  padding: 5%;
}

.brewery-link {
  color: white;
}

.brewery-data {
  color: white;
}

.header-col-left {
  padding-right: 3%;
}

.header-col-right {
  padding-left: 3%;
}

.button {
  margin: 2%;
}

.brewery-data-cell {

  margin-top: 2%;
}

h1.display-1 {

  border-bottom: 3px solid #bbb;
}

.brewery-table {
  font-size: 1.3rem;
  color: white;
}

.table {
  color: white;
}

tr:nth-child(even) {
  background-color: #005017;
}

tr:nth-child(odd) {
  background-color: #009f1b;
}

/* Search Bar Styles */
.form-label {
  font-size: 2rem;
}

.search-form {
  padding-top: 5%;
}

.state-dropdown {
  margin-top: 1%;
}

.mb-3 {

  margin-top: 7%;
}

/* Brewery Map Styles */
.brewery-map-container {
  width: 1000px;
  padding: 0px;
  margin-top: 1%;
}
.search-map {
  width: 100%;
  height: 800px;
}

.stein-img {
  width: 400px;
  height: auto;
}

/* Footer */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 3rem;
  padding: 5px;
}

/* About Page */
.about-box-left {
  height: 400px;
  margin-top: 3rem;
  margin-right: 20px;
  border: 4px solid #009f1b;
}

.about-box-right {
  height: 400px;
  margin-top: 3rem;
  border: 4px solid #009f1b;
}

.about-title {

  margin-top: 2%;
}

.about-img {
  height: 150px;
  border: 2px solid black;
  margin-bottom: 5px;
}

.personal-website {
  color: black;
}

#footerText {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
